.header {
  margin-top: 60px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
}

.headerTitleLg {
  position: absolute;
  top: 8%;
  font-size: 125px;
}

.headerImg{
    width: 100%;
    height: 350px;
    margin-top: 80px;
    object-fit: cover;
}